services:
  redis:
    image: redis:7.4.7-alpine
  nginx:
    image: nginx:1.28.0-alpine
  prometheus:
    image: prom/prometheus:v3.8.1
  grafana:
    image: grafana/grafana:11.6.0
  jaeger:
    image: jaegertracing/all-in-one:1.76.0
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
